**/.DS_Store
.DS_Store
*.dSYM
a.out
.*.c.swp
*.code-workspace
*.a
*.o
.vscode
checker_*
*test
build
/tests
.minishell_history
Dockerfile
build_docker.sh
srcs/parsing/parser
srcs/parsing/map
*_backup*
*_bak*
*.replace
brainz
morebrainz
hibrain
violence
loser_replace
