**/.DS_Store
.DS_Store
.example
*.dSYM
a.out
.*.c.swp
*.code-workspace
*.a
*.o
.vscode
checker_*
*test
build
/tests
Dockerfile
build_docker.sh
*_backup*
*_bak*
Example_class.cpp
test.c
bureaucrat
form
aform
intern
lumberjack_shrubbery